body {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 32px;
    text-align: center;
}

img.bc {
    height: 400px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    text-align: center;
}